<% include layout/header %>

    <div class="container">
      <div class="jumbotron text-center mt-2">
        <h1 class="display-3 text-info">Modify</h1>        
        <p class="lead">
            Contact has name:
        </p>        
        <% data.forEach(function(item) { %>
        <h3 class="font-weight-bold"><%= item.name %></h3>
      </div>

      <form action="/edit/<%= item._id %>" method="post">
        
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" name="name" id="" class="form-control" value="<%= item.name %>" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="">Age</label>
          <input type="text" name="age" id="" class="form-control" placeholder="Your age" value="<%= item.age %>">
        </div>
        <button type="submit" class="btn btn-primary">Save</button> 
        <a name="" id="" class="btn btn-link" href="/home" role="button">Cancel</a>        
      </form>
      <% }) %>
    </div>

<% include layout/footer %>
